version: '3.8'

services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
    ports:
      - "3306:3306"
    networks:
      - my-network
    volumes:
      - mysql-data:/var/lib/mysql

  frontend:
    build: .
    container_name: nginx-frontend
    ports:
      - "8080:80"
    depends_on:
      - mysql-db
    networks:
      - my-network

networks:
  my-network:

volumes:
  mysql-data:
